version: 2
jobs:
  build:
    working_directory: ~/onepage
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      # - restore_cache:
      #     keys:
      #       - dependency-cache-{{ checksum "package.json" }}
      #       - dependency-cache-
      #     path: .
      - run:
          shell: /bin/bash
          command: |
            cd frontend
            yarn install
      # - save_cache:
      #     key: dependency-cache-{{ checksum "package.json" }}
      #     paths:
      #       - node_modules
      - run:
          shell: /bin/bash
          command: |
            cd frontend
            yarn test
