// 参考
// https://qiita.com/mnmemo/items/5eb4fb8cbfe17670fd36

// 1. Import the initial variables
@import "../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../node_modules/bulma/sass/utilities/functions";

// 2. Set your own initial variables
// Update blue
$blue: #72d0eb;
// Add pink and its invert
$theme_color: #0081C1;
$theme_color-invert: #fff;

// Add a serif family
$family-serif: "Merriweather", "Georgia", serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $theme_color;
$primary-invert: $theme_color-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-serif;

// リンクがアクティブの時の色を変更
// https://bulma.io/documentation/components/navbar/
$link: $theme_color;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import "../../../node_modules/bulma/sass/utilities/derived-variables.sass";
$addColors: (
  "theme":($theme_color, $theme_color-invert),
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import "../../../node_modules/bulma/bulma.sass";